<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title weebsearch

        link(rel="stylesheet" href="common.css")
    body
        include mixins/display

        .pagelink: a(href="/") < Back to home
        div(style="position: relative;")
            h1.num-label Query
            img.has-tooltip(src=query width="10%" data-id="query" style="display: block;")
        div#query(style="display: none;")
            h2 Query Image
            b Tags:
            p= results.query_rating
            p= results.query_tags.join(", ")

        each result, idx in results.results
            +display(idx, result)
        
        hr

        ul(style="list-style-type: none; padding: 0;")
            if page - 1 >= 0
                li.pagelink: a(href=resultUrl(file, page - 1)) Previous Page
        
            if page + 1 <= maxPage
                li.pagelink: a(href=resultUrl(file, page + 1)) Next Page
        
        include partials/tippy
