script(src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js")
script(src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js")

mixin display(idx, result)
    div(style="display: inline-block; position: relative;")
        if idx
            h1.num-label= idx + startRank
        a(href=result.path target="_blank")
            img.has-tooltip(src=result.path + "?w=240" data-id=result.id height="200px" style="border: 2px solid black;")
        div(id=result.id style="display: none;")
            b= result.path
            p <b>ID:</b> #{result.id}
            if result.score
                p <b>Color distance:</b> #{Math.floor(result.dist * 1000) / 1000}
                p <b>Elasticsearch score:</b> #{Math.floor(result.score * 1000) / 1000}
                p <b>Weighted score:</b> #{Math.floor(result.w_score * 1000) / 1000}
            b Tags:
            p= result.tags[0]
            p= result.tags.slice(1).join(", ")